/** Anzu Chibi
***/
[character="Anzu"] {
    --color: #ffb6da;
    --hue: 330.4;
    --name: "Anzu";
    --charahead: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/anzu_charahead.png");
  }
  
  /** Aira Expressions
  ***/
  [character="Aira"][disappointed] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/aira/disappointed.png");
  }
  
  [character="Aira"][ggh] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/aira/ggh.png");
  }

  [character="Aira"][neutral] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/aira/neutral.png");
  }
  
  [character="Aira"][smile] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/aira/smile.png");
  }

  [character="Aira"][smile2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/aira/smile2.png");
  }
  
  [character="Aira"][smug] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/aira/smug.png");
  }


  /** Arashi Expressions
  ***/
  [character="Arashi"][kh1] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/arashi/kh1.png");
  }
  
  [character="Arashi"][kh2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/arashi/kh2.png");
  }
  
  /** Hajime and others
  ***/
  /** With Hinata
  ***/
  [character="hajimehinata"][attribute] {
    --color: #da93bd;
    --light-mode: hsl(324.51deg 58.79% 90%);
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/pairs/hajime_hinata.png");
    --name: "Hajime・Hinata";
  }
  
  /** HiMERU Expressions
  ***/
  [character="HiMERU"][angry] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/angry.png");
  }
  
  [character="HiMERU"][apologetic] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/apologetic.png");
  }
  
  [character="HiMERU"][autism] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/autismv2.png");
  }
  
  [character="HiMERU"][cough] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/cough.png");
  }

  [character="HiMERU"][disappointed] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/disappointed.png");
  }
  
  [character="HiMERU"][distress] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/distress.png");
  }
  
  [character="HiMERU"][laugh] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/laugh.png");
  }
  
  [character="HiMERU"][lb] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/lb.png");
  }
  
  [character="HiMERU"][neutral] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/neutral.png");
  }
  
  [character="HiMERU"][smile] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/smile.png");
  }
  
  [character="HiMERU"][smile2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/smile2v2.png");
  }
  
  [character="HiMERU"][smile3] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/smile3.png");
  }
  
  [character="HiMERU"][smile4] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/smile4.png");
  }

  [character="HiMERU"][smug] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/smug.png");
  }
  
  [character="HiMERU"][smug2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/smug2.png");
  }
  
  [character="HiMERU"][thinking] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/thinking.png");
  }
  
  [character="HiMERU"][thinking2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/thinking2.png");
  }
  
  [character="HiMERU"][troubled] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/troubled.png");
  }
  
  [character="HiMERU"][yare] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/himeru/yare.png");
  }
  
  /** HiMERU and others
  ***/
  
  /** With Kaoru
  ***/
  
  [character="himerukaoru"][attribute] {
    --color: #c3cba4;
    --light-mode: hsl(72.3deg 48.12% 90%);
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/pairs/himeru_kaoru.png");
    --name: "HiMERU・Kaoru";
  }
  
  /** With Niki
  ***/
  [character="himeruniki"][attribute] {
    --color: #6da1c7;
    --light-mode: hsl(206.25deg 38.1% 90%);
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/pairs/himeru_niki.png");
    --name: "HiMERU・Niki";
  }
  
  /** With Tetora
  ***/

  [character="himerutetora"][attribute] {
    --color: #5d758f;
    --light-mode: hsl(211.2, 31.05%, 90%);
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/pairs/himeru_tetora.png");
    --name: "HiMERU・Tetora";
  }
  
  
  /** Hiyori Expressions
  ***/
  
  [character="Hiyori"][autism] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/hiyori/autism.png");
  }

  [character="Hiyori"][dejected] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/hiyori/dejected.png");
  }

  [character="Hiyori"][disappointed] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/hiyori/disappointed.png");
  }

  [character="Hiyori"][distraught] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/hiyori/distraught.png");
  }

  [character="Hiyori"][distress] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/hiyori/distress.png");
  }

  [character="Hiyori"][kh1] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/hiyori/kh1.png");
  }
  
  [character="Hiyori"][kh2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/hiyori/kh2.png");
  }

  [character="Hiyori"][neutral] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/hiyori/neutral.png");
  }

  [character="Hiyori"][smile] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/hiyori/smile.png");
  }

  [character="Hiyori"][smile2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/hiyori/smile2.png");
  }

  [character="Hiyori"][smile3] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/hiyori/smile3.png");
  }

  [character="Hiyori"][smile4] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/hiyori/smile4.png");
  }

  [character="Hiyori"][thinking] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/hiyori/thinking.png");
  }

  [character="Hiyori"][thinking2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/hiyori/thinking2.png");
  }

  [character="Hiyori"][yare] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/hiyori/yare.png");
  }
  
  /** Hokuto Expressions
  ***/
  
  [character="Hokuto"][kh1] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/hokuto/kh1.png");
  }
  
  [character="Hokuto"][kh2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/hokuto/kh2.png");
  }

  /** Jun Expressions
  ***/
  
  [character="Jun"][angry] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/jun/angry.png");
  }
  
  [character="Jun"][apologetic] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/jun/apologetic.png");
  }
  
  [character="Jun"][disappointed] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/jun/disappointed.png");
  }
  
  [character="Jun"][distraught] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/jun/distraught.png");
  }

  [character="Jun"][neutral] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/jun/neutral.png");
  }
  
  [character="Jun"][smile] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/jun/smile.png");
  }

  [character="Jun"][smile2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/jun/smile2.png");
  }
  
  [character="Jun"][smile3] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/jun/smile3.png");
  }

  [character="Jun"][smile4] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/jun/smile4.png");
  }
  
  [character="Jun"][smug] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/jun/smug.png");
  }

  [character="Jun"][surprise] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/jun/surprise.png");
  }
  
  [character="Jun"][thinking] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/jun/thinking.png");
  }

  [character="Jun"][worried] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/jun/worried.png");
  }
  
  [character="Jun"][yare] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/jun/yare.png");
  }
  
  /** Kanata Expressions
  ***/
  [character="Kanata"][kh1] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kanata/kh1.png");
  }
  
  [character="Kanata"][kh2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kanata/kh2.png");
  }
  
  /** Kanata and others
  ***/
  /** With Arashi
  ***/
  [character="kanataarashi"][attribute] {
    --color: #77b599;
    --light-mode: hsl(152, 62%, 92%);
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/pairs/kanata_arashi.png");
    --name: "Kanata・Arashi";
  }

  /** Kaoru Expressions
  ***/
  [character="Kaoru"][apologetic] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kaoru/apologetic.png");
  }
  
  [character="Kaoru"][autism] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kaoru/autism.png");
  }

  [character="Kaoru"][disappointed] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kaoru/disappointed.png");
  }
  
  [character="Kaoru"][distress] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kaoru/distress.png");
  }

  [character="Kaoru"][glare] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kaoru/glare.png");
  }
  
  [character="Kaoru"][neutral] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kaoru/neutral.png");
  }

  [character="Kaoru"][smile] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kaoru/smile.png");
  }
  
  [character="Kaoru"][smile2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kaoru/smile2.png");
  }

  [character="Kaoru"][smile3] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kaoru/smile3.png");
  }
  
  [character="Kaoru"][smug] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kaoru/smug.png");
  }

  [character="Kaoru"][smug2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kaoru/smug2.png");
  }

  [character="Kaoru"][surprise] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kaoru/surprise.png");
  }

  [character="Kaoru"][thinking] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kaoru/thinking.png");
  }

  [character="Kaoru"][yare] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kaoru/yare.png");
  }

  /** Kaoru and others
  ***/
  /** With Rei
  ***/
  [character="kaorurei"][attribute] {
    --color: #a27d65;
    --light-mode: hsl(24, 53%, 90%);
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/pairs/kaoru_rei.png");
    --name: "Kaoru・Rei";
  }

  /** Kohaku Expressions
  ***/
  [character="Kohaku"][angry] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kohaku/angry.png");
  }

  [character="Kohaku"][autism] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kohaku/autism.png");
  }

  [character="Kohaku"][neutral] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kohaku/neutral.png");
  }

  [character="Kohaku"][smile] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kohaku/smile.png");
  }

  [character="Kohaku"][smile2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kohaku/smile2.png");
  }

  [character="Kohaku"][smug] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kohaku/smug.png");
  }

  [character="Kohaku"][smug2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kohaku/smug2.png");
  }
  
  [character="Kohaku"][yare] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/kohaku/yare.png");
  }

  /** Leo Expressions
  ***/
  
  [character="Leo"][mg] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/leo/mg.png");
  }
  
  /** Natsume and others
  ***/
  /** With Midori
  ***/
  [character="natsumemidori"][attribute] {
    --color: #6b2a3a;
    --light-mode: hsl(345.88deg 35.92% 90%);
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/pairs/natsume_midori.png");
    --name: "Natsume・Midori";
  }
  
  /** Niki Expressions
  ***/
  
  [character="Niki"][apologetic] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/niki/apologetic.png");
  }

  [character="Niki"][autism] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/niki/autism.png");
  }

  [character="Niki"][dejected] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/niki/dejected.png");
  }

  [character="Niki"][disappointed] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/niki/disappointed.png");
  }

  [character="Niki"][distraught] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/niki/distraught.png");
  }

  [character="Niki"][distress] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/niki/distress.png");
  }

  [character="Niki"][neutral] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/niki/neutral.png");
  }

  [character="Niki"][nyeh] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/niki/nyeh.png");
  }

  [character="Niki"][smile] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/niki/smile.png");
  }

  [character="Niki"][smile2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/niki/smile2.png");
  }

  [character="Niki"][smile3] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/niki/smile3.png");
  }

  [character="Niki"][smug] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/niki/smug.png");
  }

  [character="Niki"][smug2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/niki/smug2.png");
  }

  [character="Niki"][surprise] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/niki/surprise.png");
  }

  [character="Niki"][thinking] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/niki/thinking.png");
  }

  [character="Niki"][yare] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/niki/yare.png");
  }
  
  /** Rei Expressions
  ***/
  [character="Rei"][apologetic] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/apologetic.png");
  }

  [character="Rei"][autism] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/autism.png");
  }

  [character="Rei"][dejected] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/dejected.png");
  }

  [character="Rei"][disappointed] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/disappointed.png");
  }

  [character="Rei"][distraught] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/distraught.png");
  }

  [character="Rei"][distress] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/distress.png");
  }

  [character="Rei"][laugh] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/laugh.png");
  }

  [character="Rei"][lb] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/lb.png");
  }

  [character="Rei"][neutral] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/neutral.png");
  }

  [character="Rei"][smile] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/smile.png");
  }

  [character="Rei"][smile2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/smile2.png");
  }

  [character="Rei"][smile3] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/smile3.png");
  }

  [character="Rei"][smile4] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/smile4.png");
  }

  [character="Rei"][smug] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/smug.png");
  }

  [character="Rei"][surprise] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/surprise.png");
  }

  [character="Rei"][thinking] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/thinking.png");
  }

  [character="Rei"][thinking2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/thinking2.png");
  }

  [character="Rei"][yare] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rei/yare.png");
  }
  
  /** Rei and others
  ***/
  /** With Kaoru
  ***/
  [character="reikaoru"][attribute] {
    --color: #a27d65;
    --light-mode: hsl(23.61deg 25.21% 90%);
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/pairs/rei_kaoru.png");
    --name: "Rei・Kaoru";
  }
  
  /** Rinne Expressions
  ***/
  [character="Rinne"][autism] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rinne/autism.png");
  }

  [character="Rinne"][disappointed] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rinne/disappointed.png");
  }

  [character="Rinne"][distress] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rinne/distress.png");
  }

  [character="Rinne"][glare] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rinne/glare.png");
  }

  [character="Rinne"][neutral] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rinne/neutral.png");
  }

  [character="Rinne"][smile] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rinne/smile.png");
  }

  [character="Rinne"][smug] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rinne/smug.png");
  }

  [character="Rinne"][yare] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/rinne/yare.png");
  }
  
  /** Tatsumi Expressions
  ***/
  [character="Tatsumi"][aaa] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tatsumi/aaa.png");
  }

  [character="Tatsumi"][apologetic] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tatsumi/apologetic.png");
  }

  [character="Tatsumi"][autism] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tatsumi/autism.png");
  }
  
  [character="Tatsumi"][kh1] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tatsumi/kh1.png");
  }
  
  [character="Tatsumi"][kh2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tatsumi/kh2.png");
  }
  
  [character="Tatsumi"][libb] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tatsumi/libb.png");
  }
  
  [character="Tatsumi"][neutral] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tatsumi/neutral.png");
  }

  [character="Tatsumi"][smile] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tatsumi/smile.png");
  }

  [character="Tatsumi"][smile2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tatsumi/smile2.png");
  }

  [character="Tatsumi"][smile3] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tatsumi/smile3.png");
  }

  [character="Tatsumi"][smile4] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tatsumi/smile4.png");
  }

  [character="Tatsumi"][smile5] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tatsumi/smile5.png");
  }

  [character="Tatsumi"][thinking] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tatsumi/thinking.png");
  }

  [character="Tatsumi"][thinking2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tatsumi/thinking2.png");
  }

  /** Tetora Expressions
  ***/
  [character="Tetora"][apologetic] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tetora/apologetic.png");
  }

  [character="Tetora"][autism] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tetora/autism.png");
  }

  [character="Tetora"][disappointed] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tetora/disappointed.png");
  }

  [character="Tetora"][distraught] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tetora/distraught.png");
  }

  [character="Tetora"][distress] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tetora/distress.png");
  }

  [character="Tetora"][ggh] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tetora/ggh.png");
  }

  [character="Tetora"][neutral] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tetora/neutral.png");
  }

  [character="Tetora"][smile] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tetora/smile.png");
  }

  [character="Tetora"][smile2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tetora/smile2.png");
  }

  [character="Tetora"][smug] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tetora/smug.png");
  }

  [character="Tetora"][surprise] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tetora/surprise.png");
  }

  [character="Tetora"][thinking] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tetora/thinking.png");
  }

  [character="Tetora"][worried] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tetora/worried.png");
  }

  /** Tomoya Expressions
  ***/
  [character="Tomoya"][distraught] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tomoya/distraught.png");
  }

  [character="Tomoya"][smile] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tomoya/smile.png");
  }

  [character="Tomoya"][smile2] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tomoya/smile2.png");
  }

  [character="Tomoya"][smile3] {
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/tomoya/smile3.png");
  }

  /** Tomoya and others
  ***/
  /** With Aira
  ***/
  
  [character="tomoyaaira"][attribute] {
    --color: #fff5dd;
    --light-mode: hsl(42.2deg 100% 90%);
    --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/images@main/icons/pairs/tomoya_aira.png");
    --name: "Tomoya・Aira";
  }
  